ion-fab-button {
  position: absolute;
  bottom: 66px;
  right: 24px;
}

.p-r-10 {
  padding-right: 10px;
}

ion-button {
  width: 100%;
}

.logout-button {
  color: var( --ion-color-primary );
  float: right;    
}